* {
background-color: #89C15E;

}

.scoreboard {
position: absolute;
width: 800px;
height: 158px;
left: 240px;
top: 62px;

border: 2px solid #FFFFFF;
border-radius: 13px;
}

.text {
    /* ROCK */
position: absolute;
width: 135px;
height: 37px;
left: 258px;
top: 78px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.1em;

color: #FFFFFF;

}