@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

:root{
    --dark-green: #004429;
    --gray: #656565;
    --yellow: #FFD600;
    --black: #252525;
    --green: #8CC461;
    --white: #FFF;
    --inner-green: #1da82b;
    --mid-green: #1da82b90;
    --outer-green: #2E9A2563;
}

.main-screen {
    width: 100vw;
    height: 100vh;
    background: var(--green);
    color: var(--white);
    position: relative;
}

/* Scoreboard */
header{
    display: flex;
    justify-content: center;
    width: full;
    margin-top: 4%;
}

.scoreBoard{
    width: 55;
}