* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #89C15E;
}

.scoreboard {
    position: relative;
    display: flex;
    justify-content: space-between;
    left: 20rem;
    top: 3rem;
    height: 9rem;
    width: 50rem;
    border-radius: 0.65rem;
    border: 2px solid white
}

.scoreboardLeft {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 0.7rem 0rem 0.7rem 0.7rem;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    letter-spacing: 1.7px;
}

.scoreboardRight {
    display: flex;
}

.Scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    width: 8rem;
    height: 7.5rem;
    margin: 0.65rem 1.5rem 0.65rem 0.3rem;
}

.ScoresText {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #656565;
    line-height: 1rem;
    letter-spacing: 1px;
    margin-top: 0.25rem;
}

.scoreDigit {
    font-size: 4.25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}